/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// import google fonts
//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);

@import "compass/layout.scss";
@import "compass/css3/border-radius";


/* Start to customize Reverie */

/* Fade effects */
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}

@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}

@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}​

p{}

// General settings
html, body {height: 100%;}
#wrap {min-height: 100%;}
.container {margin-bottom: 4em;}
h1, h2, h3, h4, {
	font-weight: 100;
}
h5, h6 {
	text-transform: uppercase;
}

p {
	font-size: emCalc(17);
}

a {
	color: #3fc4b9;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
a:hover {
	color: #2b8c84;
}

::selection {
background: $primary-color;
color: white;
text-shadow: none;
}
table {
	border: none;
}
// add some extra style to row to beautify custom background image
header.row,
.container.row,
.row.full-width {
	background-color: rgba(255,255,255,0.9);
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}

//general:
.clearfix {
	@include clearfix;
}

tr {
	vertical-align: top;
}

.row {
	//max-width: 76.5em;
}

.fullwidth {
	max-width: 100% !important;
}

.button {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 3px;

}


//end general

//header
.main-header {
	.top-bar ul.title-area{
		@media #{$topbar-media-query} {
			display: none;
		}
	}
	.extra-nav {
		background: #fff;
		height: 108px;
		width: 100%;
		margin-bottom: 0;
		border-bottom: 1px solid #E7E7E7;
		.extra-nav-box {
			max-width: 62.5em;
			margin: 0 auto;
			margin-bottom: 0;
			ul {
				list-style-type: none !important;
				float: left;
				padding: 7px 0 7px 0;
			}
			ul.nav-search {
				margin: 0;
				float:right;
				padding: 7px 0 7px 0;
				form {
					margin: 0;
					input {
						margin: 0;
					}
					input#s {
						border-bottom-left-radius: 10px;
						border-top-left-radius: 10px;
					}
				}
			}
		}
	}
	

	.contain-to-grid {
	  z-index: 100;
	  top: 0;
	  .top-bar {
	  	height: auto;
	  	//max-width: 76.5em;
	  	&.expanded {
	  		.top-bar-section {
	  			display: block;
	  		}
	  	}
	  	.top-bar-section {
	  		//float: right;
	  		display: none;
	  		@media #{$over-toggle} {
	  			display: block;
	  		}
	  		ul.main-menu {
		  		li a {
		  			text-transform: uppercase;
		  		}
		  		.dropdown li a {
		  			text-transform: lowercase;
		  			line-height: 1.8;
		  			font-size: emCalc(14);
		  		}
		  	}
	  		ul.lang {
				padding: 0;
				display: inline-block;

				h5 {
					line-height: 0;
					margin: 0;
				}
				.divider {
					display: none;
				}
			}
			li {
				.has-dropdown > a:after {
					border-color: rgba(129, 129, 129, 0.5) transparent transparent transparent;
				}
				&.current-menu-item,
				&.current_page_parent {
					&.has-dropdown > a:after {
						border-color: #fff transparent transparent transparent;
					}
				}
			}
	  	}
	  }
	}
}
.main-header,
.mobile-header {
	ul.title-area {
		margin-left: $column-gutter/2;
		margin-bottom: 0;
		list-style: none;
  		li.name {
  			h4 {
  				font-weight: 900;
				text-transform: uppercase;
  				margin-bottom: 0;
  				margin-top: 15px;
  				float: left;
  				a {
  					color: #303030;
  					padding: 5px;
					line-height: 1em;
  				}
  				span {
  					display: inline-block;
  					float: left;
  					clear: both;
  					margin: 2px 0;
  				}
  			}
  			p {
  				margin: 0;
  				font-size: 0.8em;
  			}
  		}
  	}

	#sgri-logo {
		width: 80px;
		height: 80px;
		float: left;
		margin-top: 0.3em;
		margin-right: 20px;
		@media #{$topbar-media-query} {
			float: right;
			width: 100px;
			height: 100px;
			margin-right: 0;
		}
	}
}

//end header

article {
	header {
		h1, h2 {
			border-bottom: 3px solid lighten($primary-color, 25%);
			font-size: 3.5em;
			margin-top: 1em;
		}
	}
}

// ============= START PAGE =============
.orbit-container {
  max-width: 2000px;
  margin: 0 auto;
	.orbit-caption-wrap {
		position: absolute;
		bottom: 5em;
		left: -5%;
		* {
			width: 100%;
			margin: 0 auto;
		}
	}
	.hero-text {
		position: absolute;
		top: 22%;
		left: 13%;
		h3 {
			color: #fff;
			font-size: 3.5em;
			font-weight: 600;
			margin: 0;
			line-height: 1.1em;
		}
		p {
			color: #fff;
			font-size: 1.4em;
			margin: 0;
			line-height: 1.4em;
		}
		a.button {
			margin-top: 30px;
			font-weight: 400;
			font-size: emCalc(14);
			width: auto !important;
			text-transform: uppercase;
			//background: transparent;
			//border: 3px solid #7ac143;
			//box-shadow: none;
		}
	}
	a.orbit-prev {

	}
	a.orbit-prev > span {
		border-right-color: rgba(255,255,255,0.6);
	}
	a.orbit-prev:hover {
	}
	a.orbit-prev:hover > span {
		border-right-color: rgba(255, 255, 255, 1);
	}
	a.orbit-next {

	}
	a.orbit-next > span {
		border-left-color: rgba(255,255,255,0.6);
		left: 0;
	}
	a.orbit-next:hover {
	}
	a.orbit-next:hover > span {
		border-left-color: rgba(255, 255, 255, 1);
	}
}
article {
	header {
		h1, h2 {
			border: none;
		}
	}
}
.call-to-actions {
	max-width: 2000px;
	background: #f0f0f0;
	text-align: center;
	padding: 30px 0;
	margin: 0 auto;
	article {
	}
	h5, p {
		color: #282828;
	}
	img {
		padding: 20px;
	}
	figure {
		margin: 0;
	}
	.img-wrap {
		margin: 0 auto;
	    width: 195px;
	}
	.push-text {
  	position: relative;
  	height: 10em;
  	> a {
    	position: absolute;
    	bottom: 0;
    	left: 40%
  	}
	}
}
.members-section {
	h2, h3 {
		text-align: center;
		font-weight: 100;
		font-size: 3em;
	}
	h2 {
		padding-top: 40px;
	}
	.members {
		margin-bottom: 60px;
		p {
			margin-top: 88px;
			padding-right: 4.4em;
			font-size: 0.8em;
			float: right;
		}
		// #bs_logo_cmyk_pos-GREY_logo {
		// 	background-size: 195px 43px !important;
		// }
		// #bs_logo_cmyk_pos-GREY_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2013/06/bs_logo_cmyk_pos.jpg') !important;
		// 	background-size: 195px 43px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #roofac-safety-nyast_GREY_logo {
		// 	background-size: 189px 100px !important;
		// }
		// #roofac-safety-nyast_GREY_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2013/05/roofac-safety-nyast.png') !important;
		// 	background-size: 189px 100px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #eurotak-GREY-e1384100671524_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2012/12/eurotak1.jpg') !important;
		// 	background-size: 195px 48px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #guld-mkb-fastighets-grey_logo {
		// 	background-size: 195px 65px !important;
		// }
		// #guld-mkb-fastighets-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2013/11/guld-mkb-fastighets.jpg') !important;
		// 	background-size: 195px 65px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #guld-vegtech-grey_logo {
		// 	background-size: 195px 49px !important;
		// }
		// #guld-vegtech-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2012/03/vegtech1.jpg') !important;
		// 	background-size: 195px 49px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #guld-sempergreen_eurotema-grey_logo {
		// 	background-size: 195px 51px !important;
		// }
		// #guld-sempergreen_eurotema-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2013/11/guld-sempergreen_eurotema.jpg') !important;
		// 	background-size: 195px 51px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #guld-va_syd-grey_logo {
		// 	background-size: 195px 78px !important;
		// }
		// #guld-va_syd-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2013/11/guld-va_syd.gif') !important;
		// 	background-size: 195px 78px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		// #platina-malmoe-stad-grey_logo {
		// 	background-size: 80px 106px !important;
		// 	float: right;
		// }
		// #platina-malmoe-stad-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2012/03/malmoe-stad.jpg') !important;
		// 	background-size: 80px 106px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// 	float: right;
		// }
		// #platina-eon-grey_logo {
		// 	background-size: 170px 51px !important;
		// }
		// #platina-eon-grey_logo:hover {
		// 	background: url('http://localhost/greenroof/wp-content/uploads/2012/06/eon1.png') !important;
		// 	background-size: 170px 51px !important;
		// 	background-repeat: no-repeat !important;
		// 	background-position: left center !important;
		// }
		.members-link {
			display: inline-block;
			height: 106px;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			@include single-transition($property: margin, $ease: ease-in-out);
		}
		#platina-malmoe-stad_logo {
			height: 160px;
		}
		#platina-eon_logo {
			height: 60px;
			margin-top: 55px;
		}
	}
}

//end page hem


// ============= Visit page =============
.reveal-modal{

}

// ============= page events =============
.events {
	h1 {
		font-size: 1.7em;
		margin-bottom: 0;
		border: none;
	}
	h2 {
		text-align: center;
		border-bottom: 1px dashed #D7F3F1;
		border-width: 3px;
		padding-bottom: 20px;
	}
	.date-wrap {
	}
	.date {
	  text-align: center;
	  max-width: 80px;
	  .month {
	    font-size: 1em;
	    display: block;
	    width: 100%;
	    background: #3FC4B9;
	    color: #fff;
	    padding: 0.3em 0;
	    text-transform: uppercase;
	    font-weight: bold;
	    letter-spacing: 1px;
	  	//@include border-radius(5px 5px 0 0);
	  	@media #{$small} {
	  		font-size: 1.1em;
	  	}
	  }
	  .day {
	  	font-size: 1.5em;
	  	padding: 0.2em 0;
	  	display: block;
	  	border: 1px solid #3FC4B9;
	  	border-top: none;
	  	color: darken(#3FC4B9, 10%);
	  	//@include border-radius(0 0 5px 5px);
	  	@media #{$small} {
	  		font-size: 1.6em;
	  	}
	  }
	  .year {
	    font-size: 0.8em;
	    font-weight: normal;
	    display: block;
	    width: 100%;
	    margin-bottom: 0.1em;
	    @media #{$small} {
	  		font-size: 0.7em;
	  	}
	  }
	}
	.date-sep {
		display: block;
		margin: 10px 0;
		width: 100%;
		max-width: 80px;
		color: darken(#3FC4B9, 10%);
		font-size: 1.2em;
		text-align: center;
		font-style: italic;
	}
	#event-link {
		text-align: center;
		padding: 30px 0;
	}
	a.backtoarchive-link {
		float: left;
		padding-top: 30px;
	}
	 
	.event-meta {
		margin-bottom: 1em;
		color: lighten($body-font-color, 30%);
		font-size: 0.9em;
		p {
			margin: 0;
		}
		.meta-label {
			font-weight: bold;
			display: inline-block;
			margin-right: 0.1em;
			@media #{$small} {
				width: 10em;
			}
		}
		.inline-date {
			font-style: italic;
		}
	}
	.type-event:nth-child(1) {
		padding-top: 30px;
	}
	.type-event {
		.entry-content {
			margin-top: 0;
			margin-bottom: 1em !important;
			border-bottom: 1px dashed #D7F3F1;
			border-width: 3px;
			padding-bottom: 20px;
		}
		img {
		}
	}
}

//end page events



// ============= GREEN ROOF (Multi styles) =============
.page-template-page-multi-php {
	.container {
		margin-bottom: 0;
	}
	[data-magellan-expedition] {
		ul.sub-nav {
			padding: 0;
			li {
				margin:	0;
				padding: 7px;
				a {
					color: #fff;
				}
			}
			li.active a {
				background: $primary-color;
			}
		}
	}
 
	a.js-to-top-link {
		padding-top: 2px;
		color: rgba(255,255,255,1.0);
		display: block;
		position: relative;
		text-decoration: none;
		margin: 40px auto;
		background-color: rgba(0,0,0,0);
		width: 60px;
		height: 60px;
		text-align: center;
		-webkit-border-radius: 90px;
		-moz-border-radius: 90px;
		border-radius: 90px;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		p {
			display: none;
		}

	}
	a.js-to-top-link:hover {
		transform: translate(0,-0.5em);
		-webkit-transform: translate(0,-0.5em);
		-moz-transform: translate(0,-0.5em);
		-o-transform: translate(0,-0.5em);
		background-color: rgba(0,0,0,0.075);
		p {
			display: inline-block;
			position: absolute;
			top: 63px;
			left: -69px;
			width: 200px;
		}
	
	}
	
	i.icon-up {
		@include css-triangle($f-dropdown-triangle-size *3, $f-dropdown-triangle-color, bottom);
	      margin: 10px;
	      z-index: 99;
	      display: inline;
	}
	
	
	article {
		padding-top: 80px;
		header {
			h1, h2 {
				text-align: center;
				margin-top: 0;
				border: none;
			}
		}
	}
	&.page-id-1039 {
		.section-2, .section-3, .section-4, .section-5 {
			h1, h2 {
				font-size: 3.325em;
				margin-bottom: 0.35em;
			}
			h4 {
				font-size: emCalc(20);
			}
		}
		.section-1 {
			background: #fff;
			.pricing-table {
				margin-bottom: 6.25em;
				.title {
					color: #fff;
					font-size: 1.4em;
					text-transform: uppercase;
				}
				.title, .bullet-item {

					background: #31373a;
				}
				.price {
					//height: 78px;
				}
				.bullet-item {
					background: #fff;
					border-bottom: dotted 1px #eeeeee;
					border-width: 2px;
				}
				img {
					padding-top: 10px;
				}
			}
		}
		.section-2 {
			background: url("../img/bg-blue.jpg");
			.section-container {
				p {
					background: transparent !important;
					background-color: transparent !important;
				}
				a {
					text-transform: uppercase;
					font-weight: 900;
					-webkit-transition: all 150ms ease-in-out;
					-moz-transition: all 150ms ease-in-out;
					-o-transition: all 150ms ease-in-out;
					transition: all 150ms ease-in-out;
					border-bottom: 1px solid transparent;
				}
				a:hover {
					color: #236c66;
				}
				p.fade-effect {
					-webkit-animation: fadein 1s; /* Safari and Chrome */
		       		-moz-animation: fadein 1s; /* Firefox */
			        -ms-animation: fadein 1s; /* Internet Explorer */
			        -o-animation: fadein 1s; /* Opera */
			        animation: fadein 1s;
				}
			}
			
			tr {
			    th,
			    td {
			    	line-height: em-calc(42);
					&:nth-child(1) { 
					text-transform: uppercase;
					font-weight: 600;
					}
			    }

			    &:nth-child(1) {
			      background: #236c66; 
			      td {
			        color: #fff;
			        text-transform: uppercase;
			        font-weight: 900;
			      }
			    }
			}

			

			.section-container.vertical-tabs > section > .content {
				background-color: rgba(255, 255, 255, 0.8);
				border-radius: 3px;
				p {
					color: #191919;
				}
			} 
			.section-container.vertical-tabs > section.active {
				padding-left: 18.5625em !important;
				a {
					color: #fff;
					&:after {
						border-color: transparent transparent transparent white;
					}
				}
			}
		}
		.section-3 {
			h3 {
				margin-bottom: 10px;
				margin-top: 40px;
			}
			img {
				padding: 1.25em 0 2.50em 0;
			}
			.section-container.vertical-tabs > section > .content p {
				color: #191919;
			}
			.content {
				padding-top: 1em;
				padding-left: 4em;
			}
			a.js-to-top-link {
				color: #31373a;
				background-color: rgba(0,0,0,0);
			}
			a.js-to-top-link:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
			i.icon-up {
				@include css-triangle($f-dropdown-triangle-size *3, #31373a, bottom);
				margin: 10px;
				display: inline;
			}
		}
		/* .section-0 {
			height: 400px;
			background: url("http://localhost/greenroof/wp-content/uploads/2012/12/mc3a5nadens-bild-dec.jpg");
			background-attachment: fixed;
			background-size: cover;
			background-repeat:no-repeat;
			background-position: 0% 75%;

			.row {
				display: none;
			}
		} */
		.section-4 {
			background: url("../img/bg-dark.jpg");
			p, h1, h2, h3, h4 {
				color: #fff;
			}
			h3 {
			}
			.entry-content {
				margin: 35px 0;
				background-color: rgba(0, 0, 0, 0);
				p {
					margin: 0;
				}
				.right-column {
					border-left: 1px solid #fff;
					padding-left: 30px;
				}
			}
		}
		.section-5 {
			background-image: url("../img/bg-soil2.jpg");
			background-repeat: no-repeat;
			p, h1, h2, h3, h4 {
				color: #fff;
			}
			.entry-content h2 {
				font-size: 2.3em;
			}
		}
	}
}
.fixed-nav {
	padding-right: 0;
	padding-left: 0;
}
.sub-nav {
	max-width: emCalc(1000px);
	margin: 0 auto;
	.fixed & {
		padding-left: $column-gutter / 2;
		padding-right: $column-gutter / 2;
	}
}
.section-container.vertical-tabs > section.active {
	a {
		&:after {
			@include css-triangle($f-dropdown-triangle-size, #000, left);
			display: inline-block;
			position: absolute;
			margin-left: 10px;
			margin-top: 0.5em;
		}
	}
}
// ============= Event Calendar page =============
.date-wrap {
	.date, .date-sep {
		
	}
	.date {
		.month {
			//font-size: 1em;
			//padding: 5px;
		}
		.day {
			//font-size: 1.6em;	
		}
	}
	.date-sep {
	}
}

// ============= our roofgarden (interactive map) ============
#post-13 {
	h3 {
		margin-top: 0;
	}
	//göm högerkolumnerna
	.field_2,
	.field_4,
	.field_6,
	.field_8,
	.field_10,
	.field_12,
	.field_14,
	.field_16,
	.field_18,
	.field_20,
	.field_22,
	.field_24,
	.field_26,
	.field_28,
	.field_30,
	.field_32,
	.field_34,
	.field_36,
	.field_38,
	.field_40 {
		display: none;
	}
	.field_3,
	.field_5,
	.field_7,
	.field_9,
	.field_11,
	.field_13,
	.field_15,
	.field_17,
	.field_19,
	.field_21,
	.field_23,
	.field_25,
	.field_27,
	.field_29,
	.field_31,
	.field_33,
	.field_35,
	.field_37,
	.field_39, {
		display: none;
		@media #{$small} {
			width: 33.33333%;
			float: right;
		}
	}
	.field_1 figure {
		position: relative;
	}
	.row {
		clear: none;
		&:after {
			clear: none;
		}
		&:after,
		&:before {
			content: '';
			display: inherit;
		}
	}
	.roof-area {
		height: 40px;
		width: 50px;
		position: absolute;
		background: url("../img/map-marker.png") no-repeat scroll 0 0 transparent;
		display: none;
		&:hover {
			cursor: pointer;
		}
		&.active {
			background: url("../img/map-marker-selected.png") no-repeat scroll 0 0 transparent;
		}
	}
	$top_adjust: -4%;
	.roof-area-3 {
		left: 46%;
		top: 12% + $top_adjust;
	}
	.roof-area-5 {
		left: 32.5%;
		top: 78% + $top_adjust;
	}
	.roof-area-7 {
		left: 32.5%;
		top: 69% + $top_adjust;
	}
	.roof-area-9 {
		left: 32.5%;
		top: 60% + $top_adjust;
	}
	.roof-area-11 {
		left: 24%;
		top: 51.5% + $top_adjust;
	}
	.roof-area-13 {
		left: 19%;
		top: 58% + $top_adjust;
	}
	.roof-area-15 {
		left: 19%;
		top: 73% + $top_adjust;
	}
	.roof-area-17 {
		left: 47%;
		top: 40% + $top_adjust;
	}
	.roof-area-19 {
		left: 54%;
		top: 40% + $top_adjust;
	}
	.roof-area-21 {
		left: 57.5%;
		top: 63% + $top_adjust;
	}
	.roof-area-23 {
		left: 79.5%;
		top: 92% + $top_adjust;
	}
	.roof-area-25 {
		left: 8%;
		top: 74% + $top_adjust;
	}
	.roof-area-27 {
		left: 8%;
		top: 59% + $top_adjust;
	}
	.roof-area-29 {
		left: 8%;
		top: 49% + $top_adjust;
	}
	.roof-area-31 {
		left: 32%;
		top: 27% + $top_adjust;
	}
}

// ============= Members page =============
.post-21 {
	h2 {
		float: left;
		width: 100%;
	}
	.left-column {
		h2 {
			margin-top: 2em;
			&:first-child {
				margin-top: 0.2em;
			}
		}
		p {
			float: left;
			height: 120px;
			@media #{$small} {
				width: 50%;
			}
		}
		a {
			float: left;
		}
		strong {
			float: left;
			clear: left;
			margin-top: 0.5em;
		}
		img[title="eon"] {
			margin-top: 2.7em;
		}
	}
}
// ============= Contact page =============

// ============= form modal =============
.form-modal {
	margin-top: -5em;
	background-color: #F5F6F1;
	.post-type-archive-visit & .only-for-guidedtours,
	.post-type-archive-visit & .price-descr-twogroups,
	.post-type-archive-visit & .base-price-twogroups {
		display: none;
	}
	br {
		display: none;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.2em;
	}
	.small {
		font-size: 0.8em;
	}
	//labels
	label {
		float: left;
		//background-color: #e5e5e5;
		width: 100%;
		height: 1.4em;
		margin-top: 0.7em;
		clear: left;
		&[for="qty"] {
			width: 70%;
			margin-top: 2.7em;
		}
	}
	.address {
		padding-top: 0.8em;
		label {
			margin-top: -0.1em;
			margin-bottom: 0;
		}
	}
	.date-label,
	.time-label {
		width: 20%;
		display: inline-block;
		float: left;
		line-height: 2.3em;
		font-size: 0.875em;
		margin-bottom: 1em;
	}
	.time-label {
		width: 10%;
		margin: 0 5%;
	}
	.end-time-label {
		float: right;
	    margin: -6px 0 -40px;
	}
	.date-label {
		display: none;
	}
	.extra-info {
		.wpcf7-list-item-label {
			width: 90%;
			display: inline-block;
			.small {
				white-space: nowrap;
			}
		}
	}
	span.wpcf7-list-item {
		margin: 0;
	}
	//inputs
	.wpcf7-form-control-wrap {
		//background-color: #d5d5d5;
		float: left;
		width: 100%;
		&.visit-time {
			width: 30%;
		}
		&.visit-date {
			width: 50%;
		}
		&.qty {
			float: right;
			width: 30%;
			margin-top: 2em;
		}
	}
	input[type="text"],
	input[type="email"],
	textarea {
		margin-bottom: 1em;
	}
	input[type="checkbox"] {
		float: right;
		margin-top: 4px;
	}
	input[type="radio"] {
		float: right;
		margin-top: 6px;
	}
	input[type="submit"] {
  	margin: 0;
	}
	textarea {
		height: 10em;
		resize: vertical;
	}
	
	
	p {
		float: left;
		width: 100%;
	}
	.additional {
		@media #{$small} {
			clear: left;
		}
	}
	.prices {
		table {
			margin-top: 1.4em;
			border: none;
			background: none;
			tr {
				background: none;
				border-top: 1px dotted #c5c5c5;
			}
			td {
				padding: 0 0 3px;
				width: 50%;
			}
		}
	}
	.price {
		color: $primary-color;
		text-align: right;
		vertical-align: bottom;
		line-height: 1.2em;
		white-space: nowrap;
		&:after {
			content: ' SEK';
			font-size: 0.8em;
		}
		&.total-price-ex {
			border-top: 1px solid #c5c5c5;
		}
		&.total-price {
			border-top: 1px solid $primary-color;
			font-size: 1.4em;
			line-height: 0.8em;
			&:after {
				font-size: 0.5em;
			}
		}
	}
	.price-descr {
		height: 32px;
		text-align: left;
		vertical-align: bottom;
		line-height: 1.2em;
		&.total-price-ex {
			border-top: 1px solid #c5c5c5;
		}
		&.total-price {
			border-top: 1px solid $primary-color;
			font-size: 1.3em;
		}
	}
	.empty-error {
		border-color: #d50000 !important;
	}
	.empty-fields-notice {
		display: none;
	}
	.error {
		color: #d50000;
	}
	.columns.small-12.large-8.large-offset-2 > p {
  	margin: 0;
  	text-align: center;
	}
}
.contact-form {
  .pushbutton-wide {
    @extend .button;
    @extend .button.round;
    @extend .button.expand;
  }
}
//end form-modal

// ============= datepicker =============
#ui-datepicker-div {
	display: none;
}

// ============= default template =============
body.page-template-default {
	.page {
		.columns {
			margin-bottom: 3em;
		}
	}
}


// ============= FOOTER =============
footer {
	background-color: #31373a;
	color: #fff;
	.footer-content {
		padding-top: 20px;
		p {
			text-align: center;
		}
		.fb-link {
			margin-left: 40px;
		}
		#icon-facebook {
			background: url('http://localhost/greenroof/wp-content/uploads/2013/11/facebook_icon.png') no-repeat 0 0;
			background-size: 15px 32px;
			float: right;
			display: inline-block;
			height: 32px;
			opacity: 1;
			text-indent: -9999px;
			width: 32px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		#icon-facebook:hover {
			opacity: 0.6;
		}
	}
}

// ============= technical visits: =============
.post-type-archive-visit {
	.full-content {
		display: none;
	}
	.js-read-less-link {
		display: none;
	}
}
//end page technical visits

.page-template-page-guided-tours-php {
	.button {
		margin: 2em 0 5em;
	}
	.form-modal {
		.button {
			margin-bottom: 0;
		}
	}
}
