<span class="wpcf7-form-control-wrap visit">
	<input type="hidden" value="Guided tour" name="visit">
</span>
<div class="row">
	<div class="large-3 small-6 columns">
		<h3>Besöket:</h3>
		<p>
			<label for="date">Önskat datum och tid *</label>
			<span class="date-label">Den</span>
			<span class="wpcf7-form-control-wrap visit-date">
				<input type="text" placeholder="10:e aug" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="visit-date">
			</span>
			<span class="time-label">Kl.</span>
			<span class="wpcf7-form-control-wrap visit-time">
				<input type="text" placeholder="10" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="visit-time">
			</span>
			<label for="qty">Antal besökare <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap qty">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="qty">
			</span>
		</p>
		<p class="too-many error">Vi kan endast ta upp till 30 besökare.</p>
		<p class="small">Ni betalar endast för antalet besökare som dyker upp!</p>
	</div>
	<div class="large-3 small-6 columns">
		<h3>Övrigt:</h3>
		<p>
			<span class="wpcf7-form-control-wrap extra-info">
				<span class="wpcf7-form-control wpcf7-checkbox">
					<span class="wpcf7-list-item">
						<label>
							<span class="wpcf7-list-item-label">Studentrabatt</span>
							<input type="checkbox" value="student-discount" name="extra-info[]">
						</label>
					</span>
					<span class="wpcf7-list-item">
						<label>
							<span class="wpcf7-list-item-label">Vi vill ha fikabröd <span class="small">20 kr/person</span></span>
							<input type="checkbox" value="fikabrod" name="extra-info[]">
						</label>
					</span>
				</span>
			</span>
		</p>

		<label for="message">Andra önskemål</label>
		[textarea message x5]

	</div>

	<div class="large-3 small-6 columns">
		<h3>Kontaktperson:</h3>
		<p>
			<label for="name">Namn <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap name">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="name">
			</span>
			<label for="email">E-post <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap email">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email" size="40" value="" name="email">
			</span>
		</p>

		<h3>Betalnings-<br/>alternativ:</h3>
		<p>
			<span class="wpcf7-form-control-wrap pay_method">
				<label>
					<span class="wpcf7-list-item-label">Betala på plats</span>
					<input type="radio" value="at-location" name="pay_method" checked="checked">
				</label>
				<label>
					<span class="wpcf7-list-item-label">Betala via faktura</span>
					<input type="radio" value="invoice" name="pay_method">
				</label>
			</span>
		</p>
		<p class="at-location pay-info small">Betala vid besökstillfället med kort eller kontant</p>
		<p class="invoice pay-info small">Faktura skickas efter besöket. Ni betalar endast för de besökare som är närvarande vid tillfället!</p>

		<div class="address" style="display: block;">
			<label for="address_1">Adress rad 1 <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap address_1">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="address_1">
			</span><br>
			<label for="address_2">Adress rad 2</label><br>
			<span class="wpcf7-form-control-wrap address_2">
				<input type="text" class="wpcf7-form-control wpcf7-text" size="40" value="" name="address_2">
			</span><br>
			<label for="city">Stad <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap city">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="city">
			</span><br>
			<label for="post_code">Postnummer <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap post_code">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="post_code">
			</span><br>
			<label for="country">Land <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap country">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="country">
			</span>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="prices large-3 small-6 columns">
		<h3>Pris:</h3>
		<table>
			<tbody>
				<tr>
					<td class="price-descr base-price">
						Grundpris 20 besökare <span class="student-discount">(studentrabatt)</span>
					</td>
					<td class="price base-price">5 600</td>
				</tr>
				<tr>
					<td class="price-descr extra-visitors-price">
						<span class="extra-visitors">0</span> extra besökare
					</td>
					<td class="price extra-visitors-price">0</td>
				</tr>
				<tr>
					<td class="price-descr fikabrod">Fikabröd</td>
					<td class="price fikabrod">0</td>
				</tr>
				<tr>
					<td class="price-descr total-price-ex">Totalt exkl moms</td>
					<td class="price total-price-ex">5 600</td>
				</tr>
				<tr>
					<td class="price-descr vat">12% moms</td>
					<td class="price vat">672</td>
				</tr>
				<tr>
					<td class="price-descr total-price">Totalt</td>
					<td class="price total-price">6 272</td>
				</tr>
			</tbody>
		</table>
		<p>[submit class:button class:round class:expand "Skicka"]</p>
		<p class="error empty-fields-notice">Var god fyll i alla obligatoriska fält!</p>
	</div>
</div>