[dynamichidden visit "CF7_get_post_var key='title'"]
<p class="only-for-guidedtours">Turer kan bokas för en eller två grupper om max 30 deltagare per grupp.</p>
	<div class="visit large-4 small-12 columns">
		<h3>Besöket:</h3>
		<p>
			<label for="date">Önskat datum och tid *</label>
			<span class="date-label">Den</span>
			<span class="wpcf7-form-control-wrap visit-date">
				<input type="text" placeholder="" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="visit-date">
			</span>
			<span class="time-label">Kl.</span>
			<span class="wpcf7-form-control-wrap visit-time">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="visit-time">
			</span>
			<small class="end-time-label small">till Kl <span class="end-time"></span>
			</small>
			<label for="qty">Antal besökare <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap qty">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="qty">
			</span>
		</p>
		<p class="too-many error">Vi kan endast ta upp till <span class="max-visitors">30</span> besökare.</p>
	</div>

	<div class="contactperson large-4 small-12 columns">
		<h3>Kontaktperson:</h3>
		<p>
			<label for="name">Namn <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap name">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text" size="40" value="" name="name">
			</span>
			<label for="email">E-post <span class="req">*</span></label>
			<span class="wpcf7-form-control-wrap email">
				<input type="text" data-field-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email" size="40" value="" name="email">
			</span>
			<label for="org">Organisation</label>
			<span class="wpcf7-form-control-wrap org">
				<input type="text" class="wpcf7-form-control wpcf7-text" size="40" value="" name="organisation">
			</span>
		</p>
	</div>

	
	<div class="prices large-4 small-12 columns">
		<h3>Pris: <span class="student-discount">(studentrabatt)</span></h3>
		<table>
			<tbody>
				<tr>
					<td class="price-descr base-price">
						Grundpris <span class="baseVisitors">20</span> besökare
					</td>
					<td class="price base-price">5 600</td>
				</tr>
				<tr>
					<td class="price-descr base-price-twogroups">
						Grundpris <span class="baseVisitors-twogroups">50</span> besökare
					</td>
					<td class="price base-price-twogroups">0</td>
				</tr>
				<tr>
					<td class="price-descr extra-visitors-price">
						<span class="extra-visitors">0</span> extra besökare
					</td>
					<td class="price extra-visitors-price">0</td>
				</tr>
				<tr>
					<td class="price-descr fikabrod">Fikabröd</td>
					<td class="price fikabrod">0</td>
				</tr>
				<tr>
					<td class="price-descr weekend">Helgtillägg</td>
					<td class="price weekend">0</td>
				</tr>
				<tr>
					<td class="price-descr total-price-ex">Totalt exkl moms</td>
					<td class="price total-price-ex">5 600</td>
				</tr>
				<tr>
					<td class="price-descr vat">25% moms</td>
					<td class="price vat">672</td>
				</tr>
				<tr>
					<td class="price-descr total-price">Totalt</td>
					<td class="price total-price">6 272</td>
				</tr>
			</tbody>
		</table>
		
		<p class="error empty-fields-notice">Var god fyll i alla obligatoriska fält!</p>

		<input class="hidden basePrice" type="hidden" value="" name="basePrice">
		<input class="hidden extraVisitorPrice" type="hidden" value="" name="extraVisitorPrice">
		<input class="hidden fikabrodPrice" type="hidden" value="" name="fikabrodPrice">
		<input class="hidden weekendPrice" type="hidden" value="" name="weekendPrice">
		<input class="hidden totalExVatPrice" type="hidden" value="" name="totalExVatPrice">
		<input class="hidden vatPrice" type="hidden" value="" name="vatPrice">
		<input class="hidden totalPrice" type="hidden" value="" name="totalPrice">
	</div>

	<div class="clearfix"></div>
	<div class="additional large-4 small-12 columns">
		<h3>Övrigt:</h3>
		<p>
			<span class="wpcf7-form-control-wrap extra-info">
				<span class="wpcf7-form-control wpcf7-checkbox">
					<span class="wpcf7-list-item">
						<label>
							<span class="wpcf7-list-item-label">Studentrabatt</span>
							<input type="checkbox" value="student-discount" name="extra-info[]">
						</label>
					</span>
					<span class="wpcf7-list-item">
						<label>
							<span class="wpcf7-list-item-label">Vi vill ha fikabröd <span class="small">20 kr/person</span></span>
							<input type="checkbox" value="fikabrod" name="extra-info[]">
						</label>
					</span>
				</span>
			</span>
		</p>

		<label for="message">Andra önskemål</label>
		[textarea message x5]
	</div>

	<div class="payment-method large-4 small-12 columns">
		<h3>Betalningsalternativ:</h3>
		<p>
			<span class="wpcf7-form-control-wrap pay_method">
				<label>
					<span class="wpcf7-list-item-label">Betala på plats</span>
					<input type="radio" value="at-location" name="pay_method" checked="checked">
				</label>
				<label>
					<span class="wpcf7-list-item-label">Betala via faktura</span>
					<input type="radio" value="invoice" name="pay_method">
				</label>
			</span>
		</p>
		<p class="at-location pay-info small">Betala vid besökstillfället med kort eller kontant.</p>
		<p class="invoice pay-info small">Faktura skickas efter besöket.</p>
	</div>
	<div class="addresswrap large-4 small-12 columns">
		<div class="address" style="display: block;">
			<label for="address_1">Adress rad 1 <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap address_1">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="address_1">
			</span><br>
			<label for="address_2">Adress rad 2</label><br>
			<span class="wpcf7-form-control-wrap address_2">
				<input type="text" class="wpcf7-form-control wpcf7-text" size="40" value="" name="address_2">
			</span><br>
			<label for="city">Stad <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap city">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="city">
			</span><br>
			<label for="post_code">Postnummer <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap post_code">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="post_code">
			</span><br>
			<label for="country">Land <span class="req">*</span></label><br>
			<span class="wpcf7-form-control-wrap country">
				<input type="text" data-field-required="true" data-dependant-on="pay_method" data-dependat-value="invoice" class="wpcf7-form-control wpcf7-text" size="40" value="" name="country">
			</span>
			<div class="clearfix"></div>
		</div>
	</div>
<div class="row">
	<div class="columns small-12 large-8 large-offset-2">
		<p>[submit class:button class:round class:expand "Skicka bokningsförfrågan"]</p>
	</div>
</div>